---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications , research } from '@/data/cv'
import ProfilePictures from '@/assets/current_view.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'
import List from '@/components/ui/List.astro'

const { fullName, title, institute, research_areas } = profile

---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12  pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Research Areas -->
	{
		research.length > 0 && (
			<section class="mb-12">
				<h2 class="text-2xl font-bold mb-6 border-b pb-2">
					Past Research Projects
				</h2>
				<List 
					listItems={research} 
				/>
			</section>
		)
	}	
</Layout>
