---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4'>
    Hi! I'm <i>{fullName}</i>
  </h1>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>
    I am a Spanish recent graduate of the IDMC, Université de Lorraine, where I studied a Master's degree in Natural Language Processing.
    After my last research experience, I am now looking for new exciting opportunities in NLP!
  </p>
  <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>
  <p class='text-lg mb-6'>

  My academic interests lie in all things NLP with an special emphasis on continual learning, LLMs, prompting strategies, machine translation and RAG systems.
  </p>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<div class='size-72 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class='w-full h-full mask mask-circle size-44'
  />
    <figcaption class="mt-3 text-sm italic text-center">
      Recent view from Hanoi, Vietnam
    </figcaption>

</div>
